:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #fcfcfc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content-box {
  position: relative;
  flex: 1;
  min-width: 0;
  height: 100%;
}

body {
  margin: 0;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 全局重置浏览器滚动条，不需要可以删除 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

:hover::-webkit-scrollbar-thumb {
  display: block;
  background: hsl(0deg 0% 53% / 40%);
}

/** 布局组件样式重置 */
.ant-layout {
  .ant-layout-header {
    height: 48px;
    padding: unset;
    line-height: 48px;
    background: unset;
  }

  .ant-menu-horizontal {
    border: unset;
  }
}

/** 系统配置抽屉 */
.custom-class {
  .ant-drawer-body {
    padding: 5px 20px !important;
  }
}

/** 系统菜单 */
.navigation-menu {
  .ant-menu-inline {
    border-inline-end: unset !important;

    .ant-menu-submenu-title:active {
      background-color: unset;
    }
  }
}

/** 上传组件样式重置 */
.uploader-list {
  .uploader-file {
    height: 40px;
    line-height: 40px;
    border-bottom-color: var(--colorBorder);

    .uploader-file-progress {
      background-color: var(--colorPrimaryBg);
    }

    .uploader-file-icon {
      width: 20px;
      height: 20px;
      margin-top: 10px;

      &::before {
        font-size: 20px;
        content: "📑";
      }
    }
  }

  .uploader-file[status=error] {
    color: var(--colorError);

    .uploader-file-progress {
      background-color: var(--colorErrorBg);
     
    }
  }
}
